apiVersion: project.openshift.io/v1
kind: ProjectRequest
metadata:
  name: {{ namespace_name }}
  annotations:
    openshift.io/requester: {{ tenant }}
    tier: small
    {{ custom_annotations | default('') }}
spec: {}
